{% extends 'base.html.twig' %}

{% block title %}
<title>HOME</title>
{% endblock %}

{% block add_style %}
<!-- <link href="css/inici.css" rel="stylesheet"> -->

<link rel="stylesheet" href="{{asset('css/inici.css')}}">
<link rel="stylesheet" href="{{asset('css/equip.css')}}">

{% endblock %}


{% block inici_body %}
<section id="intro">
  <div class="intro-container">
    <h1 id="titolInici">Projecte Symfony Joselu 2n DAW</h1>
    <p id="paragrafInici">Inici programa gestió d'eqips i membres del projecte 2n DAW. <br> IES Lluis Simarro <br> Curs
      23/24 </p>
    <div id="paragrafInici" class="llistatEquips">
      <h3>Llistat d'equips</h3>
      <div id="elementsLlistat">
      {% for equip in equips %}
      <a href="{{ path('dades_equip', {'codi': equip.codi}) }}">{{equip.nom}}</a>
        {% endfor %}
      </div>
      </div>
     
    </div>
    <div class="carousel-item active">
      <a href="{{path('dades_equip')}}"> <img src="{{ asset('img/inici/1.png') }}" alt="Descripción de la imagen"
          id="imatgeInici">
      </a>
    </div>
  </div>
</section>
{% endblock %}